*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #f8d1d7;
}
#center{
    width: 60%;
    height: 80%;
    background-color: blanchedalmond;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-0%,-50%);
}
.imagecontainer{
    overflow: hidden;
    width: 0%;
    height: 100%;
    /*background-color: royalblue;*/
    position: absolute;
}
img{
    height: 100%;
    object-fit: cover;  
}

#one{
    width: 0%;
}

.text{
   position: absolute;
   overflow: hidden;
   bottom: 15%;
   left: -10%;
   width: 400px;
   height: 50px;
  /* background-color: aquamarine;*/
   z-index: 999;
}
.text h1{
    top: 100px;
    position: absolute;
    font-size: 3vw;
    color: #ffffff;
}

#loader{
    height: 100%;
    width: 100%;
    background-color: hwb(0 87% 11% / 0);
    position: absolute;
    repeat: 5;
}
#loader h1{
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9999;
    
}

